.Nav{
    background-image: url(../Images/HeroHeader.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
}
.header{
    height: 250px;
    max-height: 500px;
    background-image: linear-gradient(to bottom, rgba(29, 138, 157, 1), rgba(29,138,157,0));
    background-repeat: no-repeat;
    background-position: bottom;
}
.header img{
    margin-top: -20px;
    margin-left: 15px;  
}
.header h1{
    font-family: 'Playball', cursive;
    font-size: 60px;
    margin-left: 235px;
    margin-top: -144px;
    padding: 10;
    color: #FFFFFF;

}
.header ul{
    font-family: 'Gabriela', serif;
    font-size: 25px;
    list-style-type: none;
    margin-top: -50px;
    margin-right: 20px;
    padding: 0;
    overflow: hidden;
    float: right;
    color: #FFFFFF;
}
.header li{
    float: left;
    padding: 14px 16px;
}
.heroheader{
    align-items: center;
}
.heroheader h2{
    font-family: 'Playball', cursive;
    font-size: 80px;
    text-align: center;
    color: #FFFFFF;
    padding: 0%;
}
.heroheader p{
    font-family: 'Gabriela', serif;
    margin-top: -3%;
    font-size: 60px;
    text-align: center;
    color: #FFFFFF;
    padding: 0%;
}
.resume{
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    padding: 15px;
    margin-left: 45%;
    margin-top: -70px;
    width: 150px;
    text-align: center;
    color: #1D8A9D;
    outline: 1px solid #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    background-color: #FFFFFF;
    border-radius: 20px;
    align-items: center;
}
.foot {
    margin-top: 120px;
    display: flex;
    background: #1D8A9D;
    background-size: cover;
  }
  .list{
    display: flex;
    margin-left: 150%;
  }
  .foot a {
    padding: 14px 16px;
    font-family: 'Gabriela', serif;
    text-decoration: none;
    font-size: 20px;
    color:#FFFFFF;
  
  }
  .foot img{
    margin-left: 15px;
}

figcaption{
    color: #FFFFFF;
    margin-left: 60px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.caseStudies h1{
    text-align: center;
    font-family: 'Playball', cursive;
    font-size: 80px;
    color: #1D8A9D;
}
.parentGridCS{
    justify-content: center;
    text-align: center;
    margin: 0px 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "blocal tripit cwwc";
    padding: 25px; 
    top: 100px;    
    z-index: 100;
}

.caseStudies img{
    width: auto;
    height: 50%;
    border-radius: 10%;
}
.skills{
    text-align: center;
}
.skills h1{
    font-family: 'Playball', cursive;
    font-size: 80px;
    color: #1D8A9D;
}
.aboutMe{
    text-align: center;
}
.aboutMe h1{
    font-family: 'Playball', cursive;
    font-size: 80px;
    color: #1D8A9D;
}
.connect{
    text-align: center;
}
.connect h1{
    font-family: 'Playball', cursive;
    font-size: 80px;
    color: #1D8A9D;
}
#blocal{
    grid-area: blocal;
    font-family: 'Gabriela', serif;
    font-size: 18px;
    color: #00658E;
}
#tripit{
    grid-area: tripit;
    font-family: 'Gabriela', serif;
    font-size: 18px;
    color: #00658E;

}
#cwwc{
    grid-area: cwwc;
    font-family: 'Gabriela', serif;
    font-size: 18px;
    color: #00658E;
    
}
  